<!DOCTYPE html>
{% load staticfiles %}
{% load markdown_deux_tags %}
<html  lang="en" ng-app="IBH" ng-controller='IBHCtrl'>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/media/None/ibh.png" type="image/png" sizes="16x16">
<meta name="theme-color" content="#7D669E">
<meta name="apple-mobile-web-app-status-bar-style" content="#7D669E">
<meta name="robots" content="noarchive">

<title>{% block head_title %}{% endblock head_title %}</title>
<meta name="description" content="{% block head_description %}{% endblock head_description %}">
<meta name="keywords" content="{% block head_keywords %}{% endblock head_keywords %}">
<meta name="Title" content="{% block meta_title %}{% endblock meta_title %}">
<meta name="author" content="{% block head_auther %}{% endblock head_auther %}">
<meta name="robots" content="noodp,noydir" />
<link rel="canonical" href="https://{{ request.get_host }}{{ request.path }}">
<meta name="google-adsense-account" content="ca-pub-9882785011990601">



<!--Ads here    -->

<!-- fb open graph -->

<meta property="og:title" content="{% block og_title %}{% endblock og_title %}">
<meta property="og:description" content="{% block og_description %}{% endblock og_description %}">
<meta property="og:url" content="https://{{ request.get_host }}{{ request.path }}">
<meta property="og:image" content="{% block fb_img_url %}{% endblock fb_img_url %}">
<meta property="og:site_name" content="Infoboxhub">
<meta property="og:type" content="article">

<meta property="fb:app_id" content="550373872014486">
<!-- fb open graph -->

<!-- twitter card  -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Globalforumonl1">

<meta name="twitter:creator" content="https://{{ request.get_host }}{{ request.path }}">

<meta name="twitter:title" content="{% block tw_title %}{% endblock tw_title %}">
<meta name="twitter:image" content="{% block tw_img_url %}{% endblock tw_img_url %}">
<meta name="twitter:description" content="{% block tw_description %}{% endblock tw_description %}">
<!-- twitter card end -->


<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<link rel='stylesheet' href='{% static "css/base.css" %}' />
<style>

{% block style %}{% endblock style %}
</style>


{% block head_extra %} {% endblock head_extra %}
</head>
<body ng-cloak>

<!--SIDENAV START-->


 <md-sidenav class="md-sidenav-left" md-component-id="left"
                ng-cloak class="md-sidenav-left md-whiteframe-4dp" style="position:fixed;
 width:100%;">

    <md-toolbar  style="background-color:#7D669E; " >
        <div ng-href="\category" layout="column" class="md-toolbar-tools-bottom inset" layout-align="center center">
            <div>  <span style="font-size: 24px; color: #fff; font-family:fontawesome; margin-left: 10;"><md-icon md-svg-src="/media/None/ibh.svg" style="margin-bottom:6px; margin-left:3px;"></md-icon></span>
            </div>
            <div style="font-size: 24px; color: #fff; font-family:fontawesome; margin-left: 10;">&nbspIBH</div>
            
        </div>
    </md-toolbar>
      <md-list style='font-color:#696969;'>
            {% for cat in categories %}
           <md-list-item>
                 <md-item flex>
                <a ng-click="toggleLeft()" ng-href="/category/{{cat.url_keyword}}">
                    <md-item-content md-ink-ripple="#919191" layout="row" layout-align="start center">
                        <div class="{{cat.svg_class|default:'fa fa-hand-o-right'}}" style="color:#7d669ec4 ;">
                            
                        </div>
                        <div class="inset">{{cat.name}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>
        </md-list-item>
          {% endfor %}

           </md-list>
         </md-sidenav>

<!--SIDENAV END -->


{% block content %} {% endblock content %}


<div class="hl" hide-sm hide-xs></div>

<!-- FOOTER START-->
    <md-toolbar class="footer" style ="background-color: #7D669E; height: 280px; border-top-width:10px; border-top-color:#c481f4; margin-top: 50px"  layout="row" layout-xs="column">
  <div  flex layout="column" style="padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;"layout-padding>
     <div >
     <span style="font-size: 30px; color: #fff; font-family:fontawesome; ">InfoBoxHub<md-icon md-svg-src="/media/None/ibh.svg" style=" margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 5px;"></md-icon></span></div>
     <div layout='row' class="footer_text" >
      <div><a href="/IBH/about/" id="about" style="color:#fff !important;; margin-right: 5px; ">About Us</a></div>
      <div><a href="/IBH/contact/" id="contact" style="color:#fff !important; margin-right: 5px; ">Contact Us</a></div>
      <!-- <div><a href="/IBH/newsletter/" style="color:#fff !important; margin-right: 5px; ">Newsletters</a></div> -->
      <div><a href="/IBH/Terms/" style="color:#fff !important; margin-right: 5px; ">Terms</a></div>
      <div><a href="/IBH/privacy/" style="color:#fff !important; margin-right: 5px; ">Privacy Policy</a></div>
     </div>
  </div>
  <div  layout='column' layout-align="start end" layout-align-xs="start start"  class="social" layout-padding>
    <div layout='row' layout-padding>
      <div>
         <a href="https://www.facebook.com/infoboxhub.facebook/"><md-icon  class="toolbarSvg" md-svg-src="/media/None/fb.svg"></md-icon></a>
      </div>
         <div>
         <a href="https://twitter.com/info_box_hub"><md-icon  class="toolbarSvg" md-svg-src="/media/None/tw.svg"></md-icon></a>
      </div>
        <div> 
       <a href="https://in.pinterest.com/infoboxhub_pinterest/" ><md-icon  class="toolbarSvg" md-svg-src="/media/None/pnt.svg"></md-icon></a>
      </div>
    </div>
    <div class="footer_text">
    <span>&copy; {% now "Y" %} InfoBoxHub. All Rights Reserved</span>
    </div>
<!--      <div style="margin: auto">-->
<!--      <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FGlobal-forum-online-985900874921584%2F&width=133&layout=button_count&action=like&size=large&show_faces=true&share=true&height=46&appId=550373872014486" width="133" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>-->
<!--      </div>-->
  </div>
  
  </md-toolbar>


<!--FOOTER END-->


<!-- Angular Material requires Angular.js Libraries -->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.min.js'></script>

<script type="text/javascript">
$(document).ready(function(){
    $(".content-markdown").each(function(){
            var content = $(this).text()
            
            var markedContent = marked(content)
        
            $(this).html(markedContent)
    })
    $(".content-markdown img").each(function(){
            $(this).addClass("md-card-image");
    })
    $(".content-markdown img").each(function(){
            $(this).addClass("detail_img");
    })

var links = document.links;

for (var i = 0, linksLength = links.length; i < linksLength; i++) {
   if (links[i].hostname != window.location.hostname) {
       links[i].target = '_blank';
       links[i].rel = 'nofollow';
   }
  
}


})

</script>


<script type="text/javascript">    
    
angular
  .module('IBH', ['ngMaterial'])
  .controller('IBHCtrl', function ($scope, $timeout, $mdSidenav) {
    $scope.toggleLeft = buildToggler('left');
    $scope.toggleRight = buildToggler('right');

    function buildToggler(componentId) {
      return function() {
        $mdSidenav(componentId).toggle();
      };
    }
  });
  
  </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122653526-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122653526-1');

</script>

</body>
</html>